<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>User Index</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

  <h1>Hello Handlebars!</h1>
  <img class="image-title" src="/images/node.png" alt="node-logo">
  <ul>
    {{#each users as |user|}}
    <li>
      <a href="/{{user.username}}">{{user.name.full}}</a>
    </li>
    {{/each}}
  </ul>
  
</body>
</html>
